* 
  /* Style for the modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(120, 20, 20, 0.5);
}

/* Style for the modal content */
.modal-content {
    background-color: #7d4040;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #cb4646;
    width: 80%;
    text-align: center;
}

/* Style for the close button */
.close {
    color: #6d43de;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
  color: rgb(109, 87, 87);
  text-decoration: none;
  cursor: pointer;
}

 
/* Add your CSS rules here */
body {
  background-color: lightblue;
}

h1 {
  color: rgb(70, 70, 188);
}


